* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'exo', sans-serif;
    color: #eecfa3;
}

.tabs {
    position: absolute;
    top: 20%;
    width: 100%;
    height: 70%;
    overflow: hidden;
    box-shadow: 2px 2px 5px 2px #03080c86;
    display: flex;
    padding-left: 0px;
    background: #03080c91;
    z-index: 1;
}

.tabs .tab-header {
    width: 30%;
    padding-left: 0;
}

.tabs .tab-header > div {
    width: 100%;
    height: calc(100%/6);
    text-indent: 20px;
    color: #eecfa3;
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    background: #03080C69;
}

.tabs .tab-header > div.active {
    border-left: 5px solid #eecfa3;
    color: #eecfa3;
    background: #03080c91;
    font-size: 15px;
    font-weight: bold;
    text-shadow: 0 0 10px #eecfa3a3;
}

.tabs .tab-content {
    padding: 20px 30px;
    flex: 1;
    position: relative;
    background: #03080c95;
}

.tabs .tab-content > div {
    position: absolute;
    top: -50vh;
    left: 100px;
    opacity: 0;
    margin-right: 30%;
    transition:opacity 200ms ease-in-out 0ms,
               left 3ooms ease-in-out 0ms,
               top 0ms ease-in-out 0ms;
}

.tabs .tab-content > div.active {
    top: 20px;
    left: 20px;
    opacity: 1;
    transition:opacity 200ms ease-in-out 0ms,
               left 3ooms ease-in-out 0ms,
               top 0ms ease-in-out 0ms;
}

h1{
    position: absolute;
    top: 30px;
    left: 20px;
    font-size: 2em;
    color: #eecfa3;
    z-index: 10;
    text-shadow: 0 0 7px #eecfa3a3;
    font-size: 35px;
}

h3{
    font-size: 28px;
    text-shadow: 0 0 7px #eecfa3a3;
}

p{
    position: relative;
    font-size: 18px;
}

.tabs .tab-content p::before {
    content: "â—"; 
    color: #eecfa3; 
    display: inline-block;
    width: 1em; 
    margin-right: 0.3em; 
}
@media (max-width: 767px) {
    .tabs {
        flex-direction: column;
        top: 120px;
        height: calc(100% - 140px);
    }
    
    .tabs .tab-header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        height: auto;
    }

    .tabs .tab-header > div {
        width: 100%;
        text-align: center;
        padding: 15px;
        font-size: 14px;
        white-space: normal;
        margin: 0;
    }

    .tabs .tab-content {
        flex: 1;
        padding-right: 2px;
        overflow-y: auto;
        height: calc(100% - 60px);
    }

    .tabs .tab-content > div {
        display: none;
    }

    .tabs .tab-content > div.active {
        display: block;
    }

    h1{
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;
        padding: 10px;
        background: #03080ca3;
        z-index: 1;
    }

}