@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,700&display=swap");
/* Estilos para el contenedor principal de la imagen */
#vanta-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Asegura que esté detrás del contenido */
  opacity: 0.3;
}
.buenas-practicas {
  padding: 30px;
  border-radius: 2%;
  margin-top: 7rem;
  
  
}

/* Estilos para el título "Buenas prácticas" */
.buenas-practicas h2 {
  color: #f0f0f0; /* Color del texto */
 
}

/* Estilos para el texto dentro de la sección */
.buenas-practicas p {
  color:#03080c; /* Color del texto */
}
.buenas-practicas .image-wrapper {
  border-radius: 5%;
  background-color: #f0f0f0; /* Color de fondo específico */
  padding: 15px; /* Espaciado interior */
}
.buenas-practicas h3{
  font-weight: 300;
  font-size: medium;
  color: #fff;
}
.image-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Cuatro columnas de igual tamaño */
  gap: 15px; /* Espacio entre las imágenes */
  padding: 30px; /* Espaciado interior */
}

/* Estilos para el contenedor individual de cada imagen */
.image-wrapper {
  border-radius: 5%;
  border: 2px solid #fff; /* Borde blanco */
  padding: 30px; /* Espaciado interior */
}

/* Estilos para las imágenes */
.image-wrapper img {
  width: 100%; /* Ajustar el ancho al contenedor */
  height: auto; /* Altura automática para mantener la proporción */
}

/* Estilos para el párrafo dentro del contenedor */
.image-wrapper p {
  margin-top: 10px; /* Espacio superior */
}

/* Estilos para el efecto de sombra al pasar el cursor sobre la imagen */
.image-wrapper:hover {
  box-shadow: 0 0 50px 20px #eecfa3a3; /* Box shadow aún más grande al pasar el cursor */
}

  /* Media queries para hacer el diseño responsive */
  @media (max-width: 1200px) {
    .image-container {
      grid-template-columns: repeat(2, 1fr); /* Dos columnas en pantallas medianas */
    }
  }

  @media (max-width: 768px) {
    .image-container {
      grid-template-columns: repeat(1, 1fr); /* Una columna en pantallas pequeñas */

    }

    .buenas-practicas {
      padding: 20px; /* Reducir el padding en pantallas pequeñas */
      margin-top: 7rem; /* Reducir el margen superior en pantallas pequeñas */
    }

    .image-wrapper {
      padding: 10px; /* Reducir el padding en pantallas pequeñas */
    }

    .image-wrapper img {
      margin-bottom: 10px; /* Espacio inferior para separar la imagen del texto */
    }
    .image-wrapper p {
      font-size:small; /* Tamaño del texto más pequeño en dispositivos pequeños */
    }
  }

body {
  margin: 1em auto;
  width: calc(100% - 2em);
  max-width: 900px;
  font-family: 'exo', sans-serif;
  background-color: #03080c;
} 

#p5_loading {
  color: rgb(0, 154, 250);
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 2em;
  
}

h2 {
  position: relative;
  font-size: 3vw;
  text-align-last: left ;
  color: #fff; 
  text-shadow: 0 0 70px #EECFA3; 
  line-height: 9vw;
  font-weight: 800;
  z-index: 1;
  margin-right: 30px;
}
h1 {
  position: relative;
  font-size: 3vw;
  text-align-last: left ;
  color: #fff; 
  text-shadow: 0 0 70px #EECFA3; 
  line-height: 9vw;
  font-weight: 800;
  z-index: 1;
}
p{
  color: white;


}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  padding: 30px;
}

.caso {
  background-color:#03080c; /* Fondo negro */
  position: relative;
  overflow: hidden;
  border-radius: 1ex;
  border: 0.3ex solid rgba(255, 255, 255, 0.866);
  width: 250px; /* Establecer el ancho deseado */
  height: 300px; /* Establecer la altura deseada */
  align-items: center;
  box-shadow: 0 0 10px #eecfa3a3
}
.caso:hover {
  box-shadow: 0 0 50px 20px #eecfa3a3; /* Box shadow aún más grande al pasar el cursor */
}
.caso:hover img {
  opacity: 0.5; /* Hacer la imagen visible al pasar el cursor */
  transition: opacity 0.5s ease; /* Agregar transición de opacidad */
}

.caso img {
  width: 100%;
  height: 70%;
  border-radius: 1ex;
  border: 0.3ex solid rgba(255, 255, 255, 0.866);
  margin: auto; /* Centrar horizontalmente */
  max-width: 100%; /* Asegurar que la imagen no exceda el ancho del contenedor */
  max-height: 100%;
  opacity: 0; /* Hacer la imagen invisible por defecto */
}

/* Estilos para el overlay */
.caso .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #03080c; /* Texto blanco */
}

/* Estilos para el texto en el overlay */
.caso:hover .overlay {
  display: flex; /* Mostrar el overlay al pasar el cursor */
}

.caso .overlay h4 {
  position: absolute;
  color: white; /* Texto blanco */
  font-size: 1.2em;
  margin: 0 1em; /* Ajustar los márgenes */
  bottom: 0.5em; /* Posicionar en la parte inferior */
}

/* Estilos para la imagen en el overlay */
.caso .overlay img {
  width: 80%; /* Ajustar el tamaño de la imagen */
  height: auto;
}

.caso:hover .overlay .desc {
  opacity: 0;
}

.single {
  display: grid;
  grid-template-columns: 1fr; /* Una columna */
  grid-gap: 1em;
}

.single img {
  width: 50%;
  justify-content: center;
  height: auto;
  margin: 2em 0;
  margin-right: 10px;
  border-radius: 1ex;
  border: 0.3ex solid rgba(255, 255, 255, 0.866);
}

.single .desc {
  margin: 1em 0;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.866);
  font-weight: bolder;
}

footer {
  padding: 2em;
  font-family: "Barlow", sans-serif;
  text-transform: lowercase;
  
}

footer nav {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  
}

footer nav li {
  display: inline;
  margin: 1em;
 
  
}
footer nav li a {
  display: inline-block;
  text-decoration: none;
  padding: 1ex 2ex;
  border-radius: 2ex;
  background-color: #071724;
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.866); /* Color del borde */
}

footer nav li a:hover {
  background-color: #eecfa3a3;
  border-color: #eecfa3a3; /* Cambio de color del borde al pasar el cursor */
}
footer select {
  font-size: 18px;
  padding: 1ex 2ex;
  border-radius: 2ex;
  border: 3px solid rgba(255, 255, 255, 0.866);
  font-weight: 800;
  color: rgba(255, 255, 255, 0.866);
  background-color: rgba(183, 180, 202, 0.391);
  margin-top: 1em;
  
}

/************************** responsive: gracefull degradation **********************************/
@media (max-width: 768px) and (min-width: 481px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .container {
    grid-template-columns: 1fr;
  }
  .single {
    display: flex;
  }
}/*# sourceMappingURL=style.css.map */